// Custom styles

//鼠标样式
 * {
	cursor: url("/images/sword16.ico"),auto!important
 }
 :active {
		cursor: url("/images/star16.ico"),auto!important
 }
 
 // 回到顶部样式
.back-to-top .fa-arrow-up:before{
  color: rgb(random-color(0, 255) - 50%, random-color(0, 255) - 50%, random-color(0, 255) - 50%);
}


$link-color = #2780e3;
$link-hover-color = #1094e8;
$sidebar-link-hover-color = #0593d3;  

// 普通链接样式
a, span.exturl {
  &:hover {
    color: $link-hover-color;
    border-bottom-color: $link-hover-color;
  }
  // For spanned external links.
  cursor: pointer;
}

// 侧边栏链接样式
.sidebar a, .sidebar span.exturl{
  &:hover {
    color: $sidebar-link-hover-color;
    border-bottom-color: $sidebar-link-hover-color;
  }
}

// 侧边栏目录链接样式
.post-toc ol a {
  &:hover {
    color: $sidebar-link-hover-color;
    border-bottom-color: $sidebar-link-hover-color;
  }
}

//文章内链接文本样式
.post-body p a{
  color: $link-color;
  text-decoration: none;
  border-bottom: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
    border-bottom-color: $link-hover-color;
  }
}

// 文章内上下一页链接样式
.post-nav-prev a , .post-nav-next a{
  &:hover {
    color: $link-hover-color;
  }
}