// Custom styles

//鼠标样式
* {
      cursor: url("/images/sword16.ico"),auto!important
}
  :active {
      cursor: url("/images/star16.ico"),auto!important
}
 
.site-meta {
  background: $blue; //修改为自己喜欢的颜色
}